body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  background-color: #fff;
}

.container {
  width: 570px;
  margin: auto;
}

h1 {
  font-size: 24px;
  margin-right: auto;
}

section {
  margin-bottom: 20px;
}

.halfs {
  display: inline-block;
  margin: auto;
  width: 280px;
}

.halfs label {
  display: block;
  font-size: 15px;
}

.halfs input {
  margin-top: 7px;
  width: 245px;
  height: 33px;
  border-radius: 6px;
  border-color: lightgray;
}

input:hover {
  border-color: #007BFF;
}

#mail {
  width: 528px;
  height: 33px;
  border-radius: 6px;
  border-color: lightgray;
  margin-top: 7px;
  margin-bottom: 7px;
}

#mail:hover {
  border-color: #007BFF;
}

span {
  display: block;
  color: #969696;
  font-size: 13px;
}

.gender {
  display: flex;
  width: 525px;
}

.portion {
  margin-right: auto;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 35px;
  padding-top: 5px;
}

.portion input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.portion:hover input ~ .checkmark {
  background-color: #ccc;
}

.portion input:checked ~ .checkmark {
  background-color: #007BFF;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.portion input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


.gender>label {
  font-size: 15px;
}

select {
  margin-top: 7px;
  width: 250px;
  height: 33px;
  border-radius: 6px;
  border-color: lightgray;
}

button {
  width: 540px;
  height: 38px;
  border-radius: 6px;
  background-color: #007BFF;
  color: #fff;
  font-size: 15px;
  border: none;
  margin-top: 5px;
  margin-bottom: 22px;
}

.sign-up>span {
  width: 400px;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: #007BFF;
}

hr {
  width: 537px;
  margin-right: 40px;
}

footer {
  display: flex;
}

footer>* {
  margin: auto;
}

p {
  display: inline-block;
}