body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  background-color: #fff;
}

.container {
  width: 570px;
  margin: auto;
  padding-top: 50px;
}

h1 {
  font-size: 24px;
  margin-right: auto;
}

section {
  margin-bottom: 20px;
}

.pic-selection {
  display: flex;
  margin-right: auto;
  gap: 20px;
}

#gallery {
  width: 138px;
  height: 30px;
  background-color: #fff;
  color: #fff;
  border-radius: 6px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 2px;
  position: relative;
}

#gallery::after {
  content: url(Photo\ Camera.svg);
  position: absolute;
}

#gallery a {
  color: #fff;
  text-decoration: none;
}

img {
  border-radius: 50%;
}

#trash {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 6px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 2px;
  position: relative;
  cursor: pointer;
}

#trash::after {
  content: url(Trash.svg);
  position: absolute;
  bottom: 8%;
  right: 20%;
}

#trash>a {
  text-decoration: none;
  color: #fff;
}

span {
  display: block;
  color: #969696;
  font-size: 13px;
}

.halfs {
  display: inline-block;
  margin: auto;
  width: 280px;
}

.halfs label {
  display: block;
  font-size: 15px;
}

.halfs input {
  margin-top: 7px;
  width: 245px;
  height: 33px;
  border-radius: 6px;
  border-color: lightgray;
  border-style: solid;
}

input:hover {
  border-color: #007BFF;
  background-color: #eee;
}

.dropdown {
  min-width: 350px;
  position: relative;
}

.dropdown select {
  appearance: none;
  padding: 1.675em 6em 1em 1em;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  margin-top: 7px;
  width: 250px;
  height: 33px;
  border-radius: 6px;
  border-color: lightgray;
  border-width: 2px;
}

.dropdown select:hover {
  border-color: #007BFF;
  background-color: #eee;
}

.dropdown::before,
.dropdown::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 7rem;
  pointer-events: none;
}

.dropdown::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid lightgray;
  top: 40%;
}

.dropdown::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid lightgray;
  top: 55%;
}

button {
  width: 150px;
  height: 38px;
  border-radius: 6px;
  background-color: #007BFF;
  color: #fff;
  font-size: 15px;
  border: none;
  margin-top: 5px;
  margin-bottom: 22px;
}

.button button>a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.trash-bin {
  display: flex;
  width: 100px;
  height: 100px;
  margin: auto;
  padding-top: 200px;
}

#bin {
  text-decoration: none;
  display: flex;
  margin: auto;
  color: aquamarine;
  font-family: "Roboto";
  text-align: center;
}

#linky {
  text-decoration: none;
  color: #fff;
  margin-left: -28px;
  margin-bottom: 10px;
  position: absolute;
  z-index: 1;
  opacity: 0;
}
